body {
    /*DEFAULT*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    border: none;
    font-family: Helvetica, Arial;
    /*LAYOUT*/
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 9fr;
    /*VARIABLES*/
    --bg1: #d1d1d1;
    --bg2: #c1c1c1;
    --divBorder1: 1.8px solid black;
    --divBorder2: 2px solid black;
    --divRadius: 6px;
    --btnBorder: 1.5px solid black;
    --btnRadius: 5px;
    --btnBgActive: #c5c5c5bd;
    --btnFontActive: #000000e4;
    --bgFocus: #d0d0d077;
    --borderFocus: 2px solid #ab535e;
    --dangerColor: #d21414;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 550;
}

input,
textarea {
    background-color: transparent;
    border: var(--btnBorder);
    border-radius: var(--btnRadius);
    text-align: center;
    font-family: Helvetica, Arial;
    font-size: 17px;
    padding: 3px;
}

input:focus {
    outline: none;
    background-color: var(--bgFocus);
    border: var(--borderFocus);
    border-radius: var(--btnRadius);
}

textarea:focus {
    outline: none;
    background-color: var(--bgFocus);
    border: var(--borderFocus);
    border-radius: var(--btnRadius);
}

label {
    font-size: 0.9em;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6a6a6a6a;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 15%;
    padding-left: 10%;
    z-index: 100;

}

.btn {
    background-color: transparent;
    border: var(--btnBorder);
    border-radius: var(--btnRadius);
    padding: 5px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.01);
    /*background-color: var(--bg1);*/
}

.btn:active {
    background-color: var(--btnBgActive);
    color: var(--btnFontActive);
}

.icon {
    background-color: transparent;
    border: none;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.05);
    /*background-color: var(--bg1);*/
}

.editIcon {
    background: url("../icons/edit_square_black.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
}

.deleteIcon {
    background: url("../icons/delete_icon_red.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
}

.completeIcon {
    background: url("../icons/complete_black.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
}

.completedIcon {
    background: url("../icons/complete_blue.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
}

.closeIcon {
    background: url("../icons/close_black.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 12px;
    width: 12px;
}

/*FORM*/
.popup {
    background-color: var(--bg1);
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.4em 1.2em 1em 1em;
    border-radius: var(--divRadius);
    border: var(--divBorder2);
}

.popup form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin: 10 20px;
}

.popup .formItem {
    display: grid;
    grid-template-columns: 100px 280px;
    gap: 0.5em;
}

.saveBtn {
    font-size: 0.8em;
    padding: 0.2em 1.5em;
    margin: auto 0 auto auto;
    /*left*/
}

.prompt {
    background-color: var(--bg1);
    height: 120px;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    padding: 0.8em;
    border-radius: var(--divRadius);
    border: var(--divBorder2);
    justify-content: center;
}

.prompt h2 {
    font-size: 1em;
    text-align: center;
}

.promptAnswers {
    display: flex;
    justify-content: space-around;
}

.confirmationBtn {
    background-color: transparent;
    border-radius: var(--btnRadius);
    padding: 4px 18px;
    font-size: 0.8em;
}

.confirmationBtn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.dangerTitle {
    color: var(--dangerColor);
    border: 2px solid var(--dangerColor);
}

.neutralTitle {
    border: 2px solid black;
}